[submodule "StakingContractAudit/lib/forge-std"]
	path = StakingContractAudit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "StakingContractAudit/lib/openzeppelin-contracts"]
	path = StakingContractAudit/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "StakingContractAudit/lib/openzeppelin-foundry-upgrades"]
	path = StakingContractAudit/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
